body,html {


}

.container {

        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        object-fit: cover;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;


    }

